[Unit]
Description=AimiliVPN Go Gateway Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/aimilivpn
ExecStart=/usr/local/aimilivpn/aimilivpn
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
